/* form starting stylings ------------------------------- */
.group {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.group input {
    width: 100%;
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color-light);
    background: transparent;
}

.group input:focus {
    outline: none;
}

/* LABEL ======================================= */
.group label {
    color: var(--primary-color-light);
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus~label, input:valid~label {
    top: -0.7rem;
    font-size: 0.8rem;
    color: var(--accent-color);
}

/* Fontawesome in label */
.group label>i {
    font-size: 0.8em;
    margin-right: 0.125em;
}

/* BOTTOM BARS ================================= */
.group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.group .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background: var(--accent-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group .bar:before {
    left: 50%;
}

.group .bar:after {
    right: 50%;
}

/* active state */
.group input:focus~.bar:before, input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--accent-color);
    }

    to {
        width: 0;
        background: transparent;
    }
}

.group input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

.group input[type=date]:focus:invalid::-webkit-datetime-edit {
    color: var(--primary-color);
}


/* Toggle inputs */
.checkbox_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox_item .checkbox_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-right: .75rem;
}

.checkbox_item:last-child .checkbox_wrap {
    margin-bottom: 0;
}

.checkbox_item .checkbox_wrap .checkbox_inp {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.checkbox_item .checkbox_wrap .checkbox_mark {
    display: inline-block;
    position: relative;
    border-radius: 25px;
}

.checkbox_item .checkbox_wrap .checkbox_mark:before,
.checkbox_item .checkbox_wrap .checkbox_mark:after {
    content: '';
    position: absolute;
    transition: all 0.25s ease;
}

.checkbox_item.citem_2 .checkbox_wrap .checkbox_mark {
    border: 1px solid var(--primary-color);
    width: 2.5rem;
    height: 1.25rem;
    padding: 2px;
    margin-top: auto;
    margin-bottom: auto;
}

.checkbox_item.citem_2 .checkbox_wrap .checkbox_mark:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 1rem;
    background: var(--primary-color-light);
    border-radius: 25px;
}

.checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked~.checkbox_mark {
    border-color: var(--accent-color);
}

.checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked~.checkbox_mark:before {
    left: 1.1rem;
    background: var(--accent-color);
}

.checkbox_item .checkbox-label {
    color: var(--primary-color);
}